.post li {
  display: flex;
  margin-bottom: 20px;
}

.side-post {
  margin-right: 20px;
}

.avator {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.question-main {
  flex-grow: 1;
}

.question-main div {
  margin-bottom: 5px;
}

.question-author {
  margin-right: 10px;
}

.question-time {
  color: #888;
}

.question-info {
  text-align: right;
}